/* * {
    outline: 1px solid red;

} */
a,
h3 {
    transition: 0.3s;

}

ul,
ol {
    padding: 0;
    margin: 0;
}

body {
    cursor: url(../img/cursor.cur), auto;
    margin: 0;

}

.lake_hous {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 58px;
    padding-bottom: 45px;

    /* Додаємо відступ між заголовком і текстом */
    gap: 20px;

    /* Щоб текст був по центру стовпчика */
    /* text-align: center; */
    background-image: url('../img/lake_house.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
}

.img_text {
    box-sizing: border-box;
    max-width: 520px;
    text-align: center;

}

.img_text p {
    margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.img_text p {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}

h1 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    margin-bottom: 12px;
}

/* .img_text h1,
p {
    color: #fff;
} */

p.price {
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";

    /* padding-bottom: 30px; */

}

.price span {
    font-size: 24px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}




.wrapper {
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    /* padding: 0 20px; */
    margin: 0 auto;
}

ul span {
    display: inline-block;
    width: 20px;
    height: 20px;

}

.project h2 {
    font-size: 24px;
    color: #24242b;
    font-family: "Roboto Slab";
    font-weight: bold;
    margin-bottom: 24px;
}

.line {
    display: block;
    height: 51px;
    width: 2px;
    background-color: #e4e4ec;
}

.fb {
    background: url('../img/fb_white.svg') no-repeat center/contain;
}

.twitter {
    background: url('../img/tw_white.svg') no-repeat center/contain;
}

.inst {
    background: url('../img/inst_white.svg') no-repeat center/contain;
}

.fb:hover {
    background: url('../img/fb_orange.svg') no-repeat center/contain;
    transition: .5s easy all;
}

.twitter:hover {
    background: url('../img/tw1.svg') no-repeat center/contain;
    transition: .5s easy all;
}

.inst:hover {
    background: url('../img/inst_orange.svg') no-repeat center/contain;
    transition: .5s easy all;
}


.heder_nav {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    background-color: #1f1f56;
    padding: 20px;

}

nav {
    display: flex;
    justify-content: space-between;
}

.one {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    column-gap: 30px;
}

.one a {
    font-size: 14px;
    letter-spacing: 2px;
    color: #b1b1d2;
    font-family: "Arial";
    text-decoration: none;
}

.one a:hover {
    color: #fd8300;
}

.two {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 100px;
    column-gap: 26px;
    list-style: none;
}

aside {
    max-width: 220px;
    width: 100%;

}

aside p {
    background-color: #1f1f56;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    font-family: "Roboto Slab";
    border-radius: 3px 3PX 0 0;
}

aside ul {
    list-style: none;

}

aside ul li a {
    display: block;
    padding: 15px;
    list-style: none;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;
}

.sub_menu a {
    display: block;
    /* padding: 15px; */
    padding: 15px 15px 15px 30px;

    list-style: none;
    background-color: #e4e4ec;
    font-size: 14px;
    color: #666;
    font-family: "Arial";
    text-decoration: none;
}

.sub_menu a:hover {
    background-color: #cecedd;
    color: #666;
    font-family: "Arial";

}

aside ul li a:hover {
    background-color: #fd8300;
    color: #fff;

}

/* asid ul li a {
    font-size: 14px;
    color: #25252c;
    font-family: "Arial";

} */

.heder_under {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    padding: 28px 20px;
    margin: 0 auto;

}

.phone_number {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.phone_number a {
    font-weight: bold;
}

.phone_number a:hover,
.mail_skype a:hover {
    text-decoration: underline;
}



.phone-row {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.phone-row_two {
    text-align: right;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.mail_skype {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mail_skype .mailSkype {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.submit a {
    color: black;
    /* display: inline-block; */
    display: block;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    text-decoration: none;
    text-align: center;
    padding: 14px 20px;
}

.submit a:hover {
    background-color: #fd8300;
}

.submit {
    max-width: 200px;
    width: 100%;
}

sup {}

main {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 45px 20px 42px;
    margin: 0 auto;
}



.description h2 {
    font-size: 30px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 28px;
}

.description p {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    /* max-width: 677px; */

}

.first_p {
    margin-bottom: 20px;
}

.thecond_p {

    margin-bottom: 25px;
}

figure {
    max-width: 220px;
    margin: 0;
}

.about_ous {
    padding-bottom: 38px;
    border-bottom: 1px solid #e4e4ec;
    margin-bottom: 31px;
}

.about_ous a {

    font-size: 14px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.about_ous a:hover {
    color: #24242b;
}


/* hr {
    border: none;
    border-top: 1px solid #e4e4ec;
} */

.main_text {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 677px;
    /* width: 100%; */
}

.description_hous {
    display: flex;
    flex-direction: row;
    column-gap: 28px;
}

.project h3 {
    font-size: 14px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
}

.project p {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
}

.project h3:hover {
    text-decoration: underline;
}


footer {
    background-color: #ededf5;
    padding: 41px 30px;
    /* margin: 41px; */
}

.footer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 960px;
    width: 100%;

}


footer img {
    height: 17px;
    width: 17px;
}

footer ul {
    list-style: none;
    margin-bottom: 16px;

}

.footer ul a {
    display: inline-block;
    text-decoration: none;
    color: #666;
    margin-bottom: 16px;

}

.footer ul a:hover {
    text-decoration: underline;
    color: #fd8300;
}


.copyright {
    padding: 16px 20px;
    background-color: #dcdce6;

}

.copyright p {
    margin: 0;

    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}